body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: rgb(156, 60, 4);
}
.jumbotron h1{
  color:rgb(173, 87, 17);
}
.jumbotron p{
  color:rgb(109, 13, 13);
}
img{
  height: 200px;
}
p{
  font-size: 4rem;
  font-weight: bold;
}
button{
  background-color: rgba(114, 8, 8, 0.445);
  color: white;
}
div .container{
  background-color: burlywood;
}
h1{
  color:white;
}
label{
  color:white;
}
p{
  color:white;
}